body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 20px;
}

h1 {
    
  color: #12109c;
  font-family: Arial, sans-serif;
  font-size: 2.5em;
}
h2 {
    color: #d60000; 
    font-size: 1.5em;
}


 

.card {
    background: rgb(242, 237, 237);
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(133, 9, 144, 0.1);
  
}

textarea {
    width: 100%;
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #28a745;   
    color: rgb(21, 20, 20);               
    border: none;
    border-radius: 5px;
    font-size: 1em;
}


button:hover {
    background-color: #218838;  
}


.info {
    text-align: center;
    margin-bottom: 20px;
}

.nombre {
    font-size: 1.2em;
    font-weight: bold;
    color: hsl(0, 88%, 48%)
}

.licenciatura {
    font-size: 1em;
    color: hsl(293, 95%, 23%)
}

.grupo {
    font-size: 0.9em;
    color: hsl(293, 95%, 23%);
}

